.slideshow {
	position: relative;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	cursor: default;
}

.slideshow > * {
	overflow: hidden;
	height: inherit;
	width: inherit;
	position: absolute;
	display: block;
	margin: 0px;
	padding: 0px;
}

.slideshow * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}