img {
	width: 100% !important;
}

.slideshow-container {
	float: left;
	text-align: center;
	position: relative;
}

.slideshow {
	width: 500px;
	height: 293px;
}

.parameters {
	float: left;
}

br {
	clear: both;
}
