
.slideshow {
	position: relative;
	overflow: hidden;
	outline: 1px solid red;
	margin: 0px;
	padding: 0px;
}

.slideshow > * {
	overflow: hidden;
	height: inherit;
	width: inherit;
	position: absolute;
	display: block;
	margin: 0px;
	padding: 0px;
}

img {
	width: 100% !important;
}

/** {
	width: 100%;
	outline: none;
	border: none;
	padding: 0px;
	margin: 0px;
}*/

/*html {
	background-color: fuchsia;
	padding: 0px;
	margin: 0px;
	outline: none;
	border: none;
}*/

#orange-d {
	width: 970px;
	height: 330px;
	border: 1px solid yellow;
}

#wordpress {
	width: 700px;
	height: 200px;
}